<!DOCTYPE html>
<html lang="en">
  <body>
    <main>
      <div>
        <h1>Express App</h1>
        <h2><%= courseName %></h2>
        <h2><%= lessonName %></h2>
        <h4>2025 sh-sofi</h4>
      </div>
    </main>
  </body>
</html>
