<!DOCTYPE html>
<html lang="en">
    <body>

        <main>
            <div>
                <h1>Hello World Express App</h1>
                <h2><%= courseName %></h2>
                <h2><%= lessonName %></h2> 
            </div>
        </main>
        
    </body>
</html>